<footer role="footer">
  <div class="container-fluid footer-color">
    <p class="text-center">Copyright Keep On Rolling, LLC 2018-19 | Site Created by: John Conqueror & Associates</p>
  </div>
</footer>