<ul class="nav">
  <h3>The Convoy</h3>
  <p>A blog on trucks, taxes,
    business, and financial freedom
    for members of the Keep on Rolling
    community.
  </p>
</ul>

<% if params[:action] == 'index' %>
  <ul class="nav">
    <h3>Blog Pages</h3>
    <li>
      <p><%= render(:partial => 'shared/pagination')%></p>
    </li>
  </ul>
<% end %>


<ul class="nav">
  <h3>Featured Posts</h3>
  <li class="nav-item">
    <a class="nav-link" href="#">2018 Tax Season Updates</a>
    <small>Posted on Feb 15 2018</small>
  </li>
</ul>