<ul class="nav">
  <h3>The Convoy</h3>
  <p>A blog on trucks, taxes,
    business, and financial freedom
    for members of the Keep on Rolling
    community.
  </p>

  <h3>Blog Topics</h3>
  <li class="nav-item">
    <a class="nav-link" href="#">Industry News</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Trucking Taxes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Just for Truckers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Financial Freedom</a>
  </li>
</ul>
<hr>
<ul class="nav">
  <h3>Featured Posts</h3>
  <li class="nav-item">
    <a class="nav-link" href="#">2018 Tax Season Updates</a>
    <small>Posted on Feb 15 2018</small>
  </li>
</ul>