<ul class="nav">
  <h3>The Convoy</h3>
  <p>A blog on trucks, taxes,
    business, and financial freedom
    for members of the Keep on Rolling
    community.
  </p>
</ul>

<ul class="list-unstyled social-links">
  <h4>Follow Us</h4>
  <li><a href="https://www.facebook.com/Keep-On-Rolling-Bookkeeping-Taxes-145454318815222/">
    <%= fa_icon "facebook-square", class: "nav-link fa-2x" %></a></li>
</ul>

<ul class="nav">
  <li class="nav-item">
    <%= render 'shared/search' %>
  </li>
</ul>