<div class="module-img3">
  <div class="container">
    <div class="module-feat">
      <div class="row">
        <div class="col-4 offset-md-7">
          <div class="card">
            <div class="card-header">
              <h1 class="text-left mt-5">Book-<br>keeping</h1>
            </div>
            <div class="card-body text-center">
              <p class="text-left">The only thing you should be hauling is freight, not bags of receipts or worse
                a load of debt and back taxes. Please let a professional handle the books for you so you can keep
                your hands on the wheel. You might be a million miler over the road, but next to me you're a rookie
                when it comes to the books. My goal is to keep you stress-free and aware of any financial hazards.
                My company exists to help drivers keep the financial health of their careers and businesses intact.
              </p>
              <%= link_to 'What else?', ("#feature3"), class: 'text center btn btn-lg btn-kor' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>