<div class="module-img2">
  <div class="container">
    <div class="module-feat">
      <div class="row">
        <div class="col-4 offset-md-7">
          <div class="card">
            <div class="card-header">
              <h1 class="text-left mt-5">Authority/LLC Setup</h1>
            </div>
            <div class="card-body text-center">
              <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
              <%= link_to 'I need that!', ("#reg"), class: 'text center btn btn-lg btn-kor' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>