<div class="module-img2">
  <div class="container">
    <div class="module-feat">
      <div class="row">
        <div class="col-4 offset-md-7">
          <div class="card">
            <div class="card-header">
              <h1 class="text-left mt-5">Authority/LLC Setup</h1>
            </div>
            <div class="card-body text-center">
              <p class="text-left">Freedom is the number one reason that people become professional drivers, and financial freedom
                is the number one reason people start trucking companies. Smart financial planning, starting from the process
                of incorporating your business and applying for your authority is part of the foundation of your freedom. Throughout
                my career I have helped new and veteran fleet owners to establish solid financial foundations for their businesses.
                I can guide you through the incorporation and authority process using words and concepts you can actually understand.
                You say you're ready to be your own boss but you're not sure where to start--start with an accountant. I'm here to help.
              </p>
              <%= link_to 'I need that!', ("#reg"), class: 'text center btn btn-lg btn-kor' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>