<div class="section">
  <h1>Contact Us</h1>
  <p class="lead">Need a place to mail those receipts? Or maybe some free advice?<br> Here's the advice: don't do your own taxes. Let us. Here's our info:</p>
  <p class="lead">Mail: 101 I-20 Rd<br>
    Dallas, TX 70111<br>
  </p>

  <p class="lead">Call: 555-555-555<br> </p>
</div>