
<main role="main" class="container">



  <div class="section">
    <h1>Taxes are a big responsibility most people throw out the window</h1>
    <p class="lead">If everyone just listened to their moms, they would keep all their receipts, balance their checkbooks, and not bother us to do it for them.</p>

    <p class="lead">Fortunately, you're all slackers and we're one of the most trusted tax service and bookkeeping offices in Texas. </p>
    <hr>
  </div>

  <div class="section">
    <h1>Contact Us</h1>
    <p class="lead">Need a place to mail those receipts? Or maybe some free advice?<br> Here's the advice: don't do your own taxes. Let us. Here's our info:</p>
    <p class="lead">Mail: 101 I-20 Rd<br>
      Dallas, TX 70111<br>
    </p>

    <p class="lead">Call: 555-555-555<br> </p>
  </div>


  </main>