<div class="hero-container">

  <!-- Page Header-->
  <section class="hero-container">
    <div>
      <div class="row hero-text">
        <div class="col-md-10">
          <hr>
          <p class="m-b-30">Copy goes here</p>
          <hr>
        </div>
        <div class="col-md-10 text-left">
          <h1 class="hero-header">KEEP<br>ON<br>ROLLING</h1>
          <h2 class="m-b-15">Tax Services & Bookkeeping</h2>
        </div>
        <div class="col-md-10 text-left">
          <p><a class="btn btn-warning" href="#">Get your taxes done by someone responsible</a></p>
          <p><a class="btn btn-warning" href="#">Get Edjimacated for the 2018 Tax Season</a></p>
        </div>
      </div>
    </div>
  </section>
</div>

<main role="main" class="container">
  <div class="section">
    <h1>Keep On Rolling</h1>
    <h2>Taxes are a big responsibility most people throw out the window</h2>
    <p class="lead">If everyone just listened to their moms, they would keep all their receipts, balance their checkbooks, and not bother us to do it for them.</p>

    <p class="lead">Fortunately, you're all slackers and we're one of the most trusted tax service and bookkeeping offices in Texas. </p>
    <hr>
  </div>

</main><!-- /.container -->