<div class="post pb-5">
  <h3>Lorem Ipsum</h3>
  <small>Posted by Julie on Feb 24 2017</small>
  <img src="assets/images/kor-team2.jpg" class="img-blog pb-5">
  <div class="post-content">
    <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
    </p>
    <a href="#" class="btn btn-kor btn-block">Read More</a>
  </div>
</div>